<div class="bg">
  <nav class="navbar navbar-inverse" >
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h4 class="navbar-brand" style="margin:0; color:#3DCFFF; padding-top:15px">Bill<span style="color:white">Buddy</span></h4>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <!-- <ul class="nav navbar-nav">
            <h4 style="margin:0; color:#3DCFFF; padding-top:15px">Bill<span style="color:white">Buddy</span></h4>
          </ul> -->
          <ul class="nav navbar-nav navbar-right" style="padding-top:10px">
            <%= form_tag '/sessions', method: :post do %>
              <!-- <%= label_tag :username %> -->
              <%= text_field_tag :username, nil, placeholder: 'Username' %>
              <!-- <%= label_tag :password %> -->
              <%= password_field_tag :password, nil, placeholder: 'Password' %>
              <%= submit_tag "Log In", class: "btn btn-link" %>
            <% end %>

            <ul class="dropdown-menu">
              <li><%= link_to "Log Out", '/sessions', method: :delete %></li>
            </ul>

          </ul>
        </div>
      </div>
  </nav>
<div class="text col-sm-7 col-xs-12">
  <h1 class="tagline" style="color:white"> Start organizing your finances today.</h1><br>
  <p>BillBuddy is a personal bill management platform.<br><br>
    You can track all of your open bills, see when they are due,<br>
    and visualize your bill data in one place.
  </p>
</div>
<div class="gif col-sm-5 col-xs-12"></div>
<div class="form col-sm-4 col-xs-12">
  <h4>Sign up here</h4>
  <%= form_for @user do |f| %>
    <div class="form-row">
      <!-- <%= f.label :username, :class => 'user-label' %> -->
      <%= f.text_field :username, :class => 'text-field', :placeholder => 'Username' %>
    </div>
    <div class="form-row">
      <!-- <%= f.label :password, :class => 'user-label' %> -->
      <%= f.password_field :password, :class => 'text-field', :placeholder => 'Password' %>
    </div>
    <div class="form-row">
      <%= f.submit :class => 'btn btn-success pull-right' %>
    </div>
  <% end %>
</div>




</div>
