<input type="hidden" id="api-token" value="<%= @user.token %>">
<nav class="navbar navbar-inverse" style="padding-top:15px">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <h4 style="margin:0; color:#3DCFFF">Bill<span style="color:white">Buddy</span></h4>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="color:white">
          <span class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Signed in as <%= @user.username %> <i class="caret"></i>
          </span>
          <ul class="dropdown-menu">
            <li><%= link_to "Log Out", '/sessions', method: :delete %></li>
          </ul>

        </ul>
      </div>
    </div>
</nav>
<header class="header row">
  <h3 class="welcome col-xs-11">Welcome Back <%= @user.username %> </h3>
  <!-- <%= button_to "Log Out", '/sessions', method: :delete %> -->
</header>
<div class="row graphs">
  <div id="graph" class="col-xs-6"></div>
  <div id="pie" class="col-xs-4"></div>
</div>
<div>
  <form class="new-bill" action="/api/bills" method="post">
    <span class="row"><input type="text" class="text-field col-xs-6" name="bill[name]" placeholder="Name"></span>
    <span class="row"><input type="text" class="text-field datepicker col-xs-6" name="bill[due_date]" placeholder="Due Date"></span>
    <span class="row"><input type="text" class="text-field col-xs-6" name="bill[amount]" placeholder="Amount"></span>
    <span class="row"><input type="submit" value="New Bill" class="button btn btn-default"></span>
  </form>
</div>

<div class="bills-table">
  <table class='table table-hover'>
    <thead>
      <th>Name</th>
      <th>Due Date</th>
      <th>Amount</th>
      <!-- <th>User ID</th> -->
      <th>Paid it?</th>
    </thead>
    <tbody class='bills'>
    </tbody>
  </table>
</div>
<%= stylesheet_link_tag 'graph' %>
<!-- <span class="row"><input type="button" value="See Chart" class="chart-button btn btn-default"></span> -->


<%= javascript_include_tag 'graph'%>

<%= javascript_include_tag 'users'%>
